<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Articles</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/articles/style.css' /%}"/>
</head>

<body>
    <div class="container">
        <a class="home-link" href="/">Home</a>
            <h2>Articles</h2>

            {% if article_list %}
        <!-- <div> -->
            {% block content %}
            <!-- <h2>Articles for {{ year }}</h2> -->

            {% for article in article_list %}
            <div class="article">
                <a href="{{ article.id }}/">{{ article.headline }}</a> &nbsp; &nbsp;
                <div class="article-info">
                    <span> <b> By: </b> {{ article.reporter.full_name }} &nbsp; &nbsp; </span>
                    <span> <b> Created: </b> {{ article.pub_date|date:"F j, Y" }} &nbsp; &nbsp; </span>
                    <span> <b> Last Modified: </b> {{ article.last_edited |date:"F j, Y" }} &nbsp; &nbsp; </span>
                </div>
            </div>
                {% endfor %}
                {% endblock %}
                {% else %}
                <h2>No tips available on record!</h2>
                {% endif %}
        <!-- </div> -->
    </div>
</body>

</html>